<h2>Produits</h2>

<div class="row">
  <!-- Filtres -->
  <div class="col-lg-3">

    <p class="lead">Recherche</p>
    <input type="text" class="form-control" placeholder="Rechercher un produit"/>
    <hr/>

    <p class="lead">Catégorie</p>

    <hr/>

    <p class="lead">Prix</p>
    <input type="radio" name="prix" value="asc"> Croissant<br/>
    <input type="radio" name="prix" value="desc"> Décroissant<br/>
  </div>

  <!-- Liste -->
  <div class="col-lg-9 border-left">
    
  </div>
</div>
